.sidebar{

    min-height: 100vh;
    display:inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#f0f4f9;
    padding: 10px 15px;
    font-family: "Google Sans","Helvetica Neue",sans-serif;
   
}

.sidebar .hamburger{

    display: block;
    margin: 10px;
    cursor: pointer;

}

.sidebar .newchat{

    margin-top: 30px;
    display:inline-flex;
   align-items: center;
   padding-top: 15px;
   padding-left: 10px;
   padding-right: 10px;
   padding-inline: 25px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    color: grey;
}

.sidebar .recent{
    margin-top: 25px;
display: flex;
flex-direction: column;
animation: fadeIn 1.5s;
}
.sidebar .recent-icon{
    width: 250px;
    padding: 10px 30px 10px;
   background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    background-color: #d3e3fd;

}

.sidebar .recent-icon:hover{
background-color: #e2e6eb;

}

.sidebar .fa-regular{

    margin-right: 5px;
    
}
.sidebar .fa-solid{

    margin-right: 5px;
}
.sidebar  .sidebar-bottom{

    display: flex;
    flex-direction: column;
transform: 10px;
}
.sidebar .bottom-item{

   padding-left: 10px;
   cursor: pointer;
}

.sidebar .sidebar-address{

    font-size: .6875rem;
    line-height: .5rem;
    font-weight: 500;
    letter-spacing: .007rem;
    padding-left: 10px;
}


@media(max-width:600px){

    .sidebar{
        z-index: 1;
        padding: 5px 9px;
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        background-color:#f0f4f9;
        /* background-color:#9daec3; */
        overflow-x: hidden;
        transition: 0.5s;
        opacity: 1;
  
    }

    .sidebar .newchat{

       padding-top: 12px;
       padding-left: 8px;
       padding-right: 8px;
       padding-inline: 15px;
       
    }
}